@charset "utf-8";
@font-face{font-family: Soulcraft; src:url('Soulcraft.ttf');}
/*Flex Styles*/
.container {
    justify-content: space-evenly;
    display: flex;
    -webkit-box-flex: inherit;
    flex-flow: row wrap;
}
header{
    display: flex;
    -webkit-box-flex: inherit;
    flex-flow: row wrap;
    align-self: stretch;
    order: 0; 
}
h1, h2, h3{
    font-family: Soulcraft, sans-serif;
    color: #99748e
}
header>h1>span.highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%,#fdbda6 50%);
}
.highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, bisque 50%);
}
body{
    background-color: bisque;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: #749299;
}
a:hover{
    color: #99748e;
}
#description{
    margin-left: 50px;
    margin-top: 0px;
}
#heading{
    margin-top: 25px;
    margin-bottom: 0px;
}

div{
    padding: 0px 69px 0px 69px;

}

section#Picture1{
    width: 550px;
    margin: 20px 20px 0px 0px;
}

section#description{
    width: 400px;
    margin: 20px 20px 0px 0px;
    background-color: #fdbda6;
    text-align: center;
}

#description>p{
    padding: 20px 20px 20px 20px;
    font-size: large;
    line-height: 50px;
}

section#spotify{
    width: 400px;
    margin: 20px 0px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-image: url("blueFrame.png");
    background-color:#fdbda6;
    background-repeat: no-repeat;
    background-position: 100px; 
    background-size: contain;
    contain: content;
    text-align: center; 
}
#spotify>p{
    line-height: 40px;
}
#spotify>h3{
    text-align: center;
}

section#quote1{
    width: 400px;
    margin: 20px 0px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-image: url("beige.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    contain: content;
    /*position: absolute;
    right: 0;*/
}
#quote1>h3{
    color: bisque;
    padding: 120px 60px 60px 60px;
}

section#smallBusinesses{
    width: 400px;
    text-align: left;
    background-color: #fdbda6;
    margin: 20px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}
#smallBusinesses>p{
    line-height: 40px;
    font-size: medium;
}
#smallBusinesses>h3{
    text-align: center;
}


h3{
    text-align: left;
}



/*Navigation Style*/
li{
    float: left;
}
li>a{
    display: block ;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    
}
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:#fdbda6 ;
}
li>a:hover{
    color: #749299;
}


/*Media Queries*/
@media screen and (max-width: 480px){
    body{
        display: flex;
    }
    header{
        display: flex;
        flex-flow: row;
        
    }
    .container{
        display: flex;
        flex-flow: row wrap;
    }
    #Picture1{
        margin: 10px 0px 0px 0px ;
        max-width: 100px;
    }
    #description{
        order:0;
        margin: 10px 0px 0px 0px;
        max-width: 200px;
    }
    #spotify{
        order:1;
        margin: 10px 0px 0px 0px;
        max-width: 200px;
    }
    #smallBusinesses{
        order: 2;
        margin: 10px 0px 0px 0px;
        max-width: 200px;
    }
    #qoute1{
        margin: 10px 0px 0px 0px;
        order:3;
        max-width: 200px;
    }
    